<div ng-if="!vm.isUpdating">
<h2>Details about Job:
    
    <p>{{vm.job.title}}  </p></h2>

    <!--<game-rating 
    stars={{vm.rating}}></game-rating>-->
<p>
Salary: {{vm.job.salary | currency}}<BR/>
Description : {{vm.job.description}}<BR/>
Experience: {{vm.job.experience}}<BR/>
Date posted: {{vm.job.postDate | date:'yyyy-MM-dd'}}</BR>
skills: <ul ng-repeat="skill in vm.job.skills">
            <li>{{skill}}</li>
        </ul>
</p>



<button type="button" class="btn-success"  ng-click="vm.deleteJob(vm.job._id)">Delete A game</button>
<button type="button" class="btn btn-success" ng-click="vm.isUpdating=true;vm.initForm();">update a job</button>


</div>

<div ng-if="vm.isUpdating">

    <h2> Editing Job</h2>
    <form name="vm.jobForm" ng-submit="vm.updateJob(vm.job._id)" > 
        To add a new job please fill in all the fields below:<BR/>
        Title: <input type="text" name="title" value="vm.job.title" required ng-model="vm.title" 
        style="color:black"/><BR/>
        <BR/>


        Salary: <input type="text" name="salary" required ng-model="vm.salary"  ng-pattern="/^[0-9]*\.[0-9]*$/" style="color:black"/><BR/>
    
    
        <span ng-show=" 
        vm.jobForm.salary.$invalid && vm.isSubmitted" 
        style="color:black">insert the right digits</span>
        <BR/>
        <BR/>
    
        Date: <input type="text" name="postDate" required ng-model="vm.postDate"   ng-pattern="/^[0-9]{4}\-[0-9]{2}\-[0-9]{2}$/" style="color:black"/><BR/>
        <span ng-show="vm.jobForm.postDate.$dirty  && 
        vm.jobForm.postDate.$invalid && vm.isSubmitted" 
        style="color:black">Enter a valid Date here</span>
        <BR/>
        <BR/>
    
    
        Description: <input type="text" name="description" required ng-model="vm.description"   style="color:black"><BR/>
    
        <span ng-show="vm.jobForm.description.$dirty  && 
        vm.jobForm.description.$invalid && vm.isSubmitted" 
        style="color:black">Enter a valid description</span>
        <BR/>
        <BR/>
    
        Skills: <input type="text" name="skills"  required 
        ng-model="vm.skills" style="color:black"/>
        <BR/>
        <BR/>
    
    
        <span ng-if="vm.jobForm.skills.$dirty  && 
        vm.jobForm.skills.$invalid && vm.isSubmitted" 
        style="color:black">Enter valid information for skills</span>
        <BR/>
    
       Experience: <input type="text"  name="experience" required 
        ng-model="vm.experience" style="color:black"/><BR/> 
    
        <span ng-if="vm.jobForm.experience.$dirty  && 
        vm.jobForm.experience.$invalid && vm.isSubmitted" 
        style="color:black">enter valid information for experience field</span>
        <BR/>
    
        <!--Minimum Recommended Player Age: <input type="text" ng-pattern="/^[1-9][0-9]*$/" name="minAge" 
        required ng-model="vm.minAge"  style="color:black"/><BR/>
    
        <span ng-if="vm.jobForm.minAge.$dirty  && 
        vm.jobForm.minAge.$invalid && vm.isSubmitted" 
        style="color:black">age must be a number</span>
        <BR/> -->
    
        
       <!-- Designer name: <input type="text" name="designer" required ng-model="vm.newGameDesigner" style="color:black"/><BR/>-->
     
        <button type="submit" class="btn btn-primary" >update a job</button>
       
        </form>

</div>





